{% extends 'accounts/layout.html' %}
{% load static %}
{% load socialaccount %}
{% load static %}
{% block contents %}
<div>
    <h2>소셜 로그인</h2>
        {% if user.is_authenticated %}
            <a href="{% url "accounts:profile" %}">프로필</a>
            <a href="{% url "accounts:logout" %}">로그아웃</a>
        {%else %}

            {% for provider in providers %}
                <ul>
                    {% if provider.social_app.name == 'Facebook' %}
                    <li id="facebook">
                        <a href="{% provider_login_url provider.id %}" target="_blank">
                            <img src="{% static 'image/social-facebook.png' %}" style="background-color: black">
                        </a>
                    </li>
                    {% elif provider.social_app.name == 'Linkedin' %}
                    <li id="linkedin">
                        <a href="{% provider_login_url provider.id %}" target="_blank">
                            <img src="{% static 'img/social-linkedin.png' %}">
                        </a>
                    </li>
                    {% endif %}
                </ul>
            {% endfor %}
        {% endif %}
</div>
{% endblock %}
