{% extends 'accounts/layout.html' %}
{% block contents %}
<h2>회원 정보</h2>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <ul>
        {{ form.as_ul }}
    </ul>
    <input type="submit"/>
</form>

<h2>실시간으로 내 눈 상태 확인하기</h2>
<div>

    <h3>현재 나의 IBI: {{ profile.ocr_now }}</h3>
    {% if profile.ocr_now > 4 %}
        <h4 style="color: red">당신의 소중한 눈이 위험합니다. </h4>
        <ul>
            <li>1. 인공눈물이 있다면 지금 수분을 보충해주시고 지금 잠깐이라도 창밖을 보면서 눈을 쉬게 해주세요</li>
            <li>2. 안구건조증 자가진단을 통하여 눈건강의 확인해주세요.</li>
            <li>3. 안구건조증은 한 번 생기면 완치되지 않기 때문에 평소에 관리를 꾸준하게 잘 해주셔야 합니다. </li>
        </ul>
        <p>
        안구건조증 자가진단 [배너로 만들 수 있으면 화면 전환]

        [. ] 아침마다 눈뜨기 어려울 정도로 눈이 빡빡하다.
        [. ] 눈이 자주 피로하다.
        [. ] 눈꼽이 잘 끼고 시야가 뿌옇게 보인다.
        [.  ]눈물이 자주나면, 바람같은 자극에 의해 더 쉽게 눈물이 난다.
        [[]] 평소 눈에 충혈이 잘된다.
        [] 밝은 곳에서 눈을 제대로 뜨기 어렵다.
        [] 눈에 통증을 느끼고 시력이 떨어졌다.
        []콘택트렌즈 착용이 어렵다.

        2개 이상이 안구건조증을 의심해 볼 수 있고
        3~4개 이상은 안구건조증이라고 할 수 있습니다.
        6개 이상은 안과에서 치료를 받는 것이 필요합니다.

        [가상배너] 눈 운동하러 가기!
        </p>
    {% else  %}
        <h4 style="color: green">훌륭한 상태입니다.</h4>
        <p>눈관리 상태가 양호한 것으로 판단됩니다.
        눈 깜박임이 좋아도 한시간에 한번은 주위를 바라보며 눈에게 휴식을 선물하세요
        </p>
    {% endif %}
    <h3>이번달 현재까지 나의 총 눈깜박임 수:{% widthratio profile.ocr_month_count 1 10 %}</h3>
    <h3>이번달 현재까지 나의 평균 IBI: {{ profile.ocr_month }}</h3>
    <ul>
        <li>오늘 오전 나의 IBI: {{ profile.ocr_am }}</li>
        <li>오늘 오전 나의 총 눈깜빡임 수 {% widthratio profile.ocr_am_count 1 10 %}</li>
        <li>오늘 오후 나의 IBI: {{ profile.ocr_am }}</li>
        <li>오늘 오후 나의 총 눈깜빡임 수 {% widthratio profile.ocr_pm_count 1 10 %}</li>
    </ul>
</div>
{% endblock %}